@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,200;9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,100&family=Outfit:wght@400;700&family=Space+Grotesk:wght@500&display=swap');
/*----------Custom Colors-------------*/

:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --active-input-border: linear-gradient(hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    --input-errors: hsl(0, 100%, 66%);
    --ff-base: 'Space Grotesk', sans-serif;

    --fw-regular: 500;
}
/*-----CSS Reset------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--Very-dark-violet);

    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    7. no arrows on Number Inputs
  */  
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
/*--------------------------------------------Utility-Classes---------------------------------------------------*/

.FLex__Box{
  display: flex;
  align-items: center;
  gap:0.6rem
}

/*-----general Styling-----*/

  .Main__Page{
    min-height: 100vh;
    display: grid;
    grid-template-rows:1fr 2fr ;
    --form-element-border-radius: 0.4rem;  

  }
  @media(min-width: 750px)
  { 
    .Main__Page{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
      }
  }

/*---------------------------------------------------------------------------------------------------------------------*/  
/*------------------------------------------------Credit Cards---------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/  
  .Credit__Cards{
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
  }

  .Front__Card{
    position: absolute;
    top:8rem;
    margin-left: 2rem;
    width: 17.5rem;
    height: 10rem;
    z-index: 2;
  }
  .Circle1{
    height: 30px;
    width: 30px;
    background-color:var(--White);
    border-radius: 50%;
    display: inline-block;
  }
  .Circle2{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgb(252, 235, 137);
  }
  .Front__Card__Content{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    color:var(--White);
    padding:1rem;
    display: grid;
  }
  .Front__Card__Content h4{
    font-weight:100;
    letter-spacing: 1px;
  }
  .Customer__Name{
    display: flex;
    justify-content: space-between;
  }
  .Small__Text{
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .Back__Card{
    position: absolute;
    width: 17.5rem;
    height: 10rem;
    top:2rem;
    margin: 0rem 0rem 0rem 5rem;
  }
 .Back__Card__Content{
  position: absolute;
  color: var(--White);
  top:4.3rem;
  left: 13.7rem;
 } 
  /*--Adjusting to desktop size--*/
  @media(min-width: 750px)
  { 
    .Form__Container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Credit__Cards{
        background-image: url(images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
  }

/*--------------Sizing Up Credit Card Images and Text----------------------------*/
 @media(min-width: 1040px)
 { 
  .Credit__Card__Container{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    margin-left: 1rem;
  }
  .Front__Card{
    position: static;
    height:15rem;
    width: 27.6rem;
    margin-left: 0;
  }
  .Front__Card__Content{
    position: static;
    margin-top: -15rem
  }
  .Back__Card{
    position: static;
    height:15rem;
    width: 27.6rem;
    margin-left: 4rem;
  }
  .Back__Card__Content{
    position: static;
    margin-top: -8.3rem;
    margin-left: 22rem;
  }
  .Small__Text{
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .Front__Card__Content{
    padding: 1.6rem 1.6rem 1.3rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  .Front__Card__Content h4{
    font-size: 1.75rem;
    letter-spacing: 3px;
    margin-top: 2.7rem;
  }
  .Circle1{
    height: 45px;
    width: 45px;
  }
  .Circle2{
    height: 20px;
    width: 20px;
  }
  .FLex__Box{
    gap:1rem
  }
 }
 /* Adjusting left margin of credit-cards */
 @media(min-width: 1350px)
 { 
  .Credit__Card__Container{
   margin-left: 13vw; 
  }
 }

/*---------------------------------------------------------------------------------------------------------------------*/  
/*------------------------------------------------Input Form-----------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/  

  .Form__Container{
    display: flex;
  }

  .Input__Form{
    width:24.5rem;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: max-content max-content max-content ;
    row-gap: 1.2rem;
    padding: 2rem;
    margin-top:3.5rem ;
  }
 .Main__Page{
  justify-content: center;
 }

 .Input__Form label{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 0.4rem;
  }
  .Input__Form input{
    font-size: 1rem;
    border-radius:var(--form-element-border-radius);
    border: 0.1rem solid var(--Light-grayish-violet);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: var(--Dark-grayish-violet);
    width: 100%;
  }

  .Error__Tag{
    color: var(--input-errors);
    font-size: 1rem;
    display: none;
  }

/*---------------------------------------------------------------------------------------------------------------------*/  
/*------------------------------------------------Form Submitted Notification------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/  

  .Form__Submitted__Notification{
    width:24.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 0rem 2rem 2rem 2rem;
    display: none;
    margin-top: 3rem;
  }
  .Form__Submitted__Notification h1{
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin-top: 1rem;
  }
  .Form__Submitted__Notification p{
    color: var(--Dark-grayish-violet);
    margin-bottom: 1rem;
  }

  .Grid__Full__Row{
    grid-column: 1/3;
  }

  .Exp__Date__Inputs{
    display: flex;
  }
  .Exp__Date__Inputs input{
     margin-right: 0.5rem;
  }
  @media(max-width: 340px)
  {
    .Exp__Date{
      grid-column: 1/3;
    }
    .CVC{
      grid-column: 1/3;
    }
  }

  .Confirm__Btn{
    width: 100%;
    grid-column: 1/3;
    height: 3rem;
    border: none;
    border-radius:var(--form-element-border-radius);
    background-color: var(--Very-dark-violet);
    color: var(--White);
    margin-top: 0.7rem;
  }
  .Confirm__Btn:hover{
    background-color: var(--Dark-grayish-violet);
  }
